* {
    font-family: 'Lato', sans-serif;
    line-height: 30px;
    font-size: 16px;
}


.app {
    background-color: #d9e7ee;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

table {
    table-layout: fixed;
    width: 80%;
    border-collapse: separate;
    /*border: 3px solid #62ccb9;*/
    text-align: center;
    position: absolute;
    border-spacing: 20px;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

table tr {
    border: 3px solid #62ccb9;
}

table strong {
    font-weight: bold;
}


.header {
    height: 60px;
}

.button-cell {
    height: 60px;
}

.info {
    text-align: start;
    height: 250px;
}

button {
    cursor: pointer;
    background-color: #62ccb9;
    padding: 10px;
    border: none;
    display: inline-block;
    vertical-align: middle;
    border-radius: 10px;
}

.title {
    padding: 10px;
    white-space: pre-wrap;
}

/*tbody tr:nth-child(1) td {*/
/*    height: 130px;*/
/*}*/

/*tbody tr:nth-child(2) td {*/
/*    height: 130px;*/
/*}*/

/*tbody tr:nth-child(2) {*/
/*    height: 130px;*/
/*    width: 20%;*/
/*}*/

/*thead th:nth-child(3) {*/
/*    width: 15%;*/
/*}*/

/*th,*/
/*td {*/
/*    padding: 20px;*/
/*}*/
